# Organisation name. Defaults to Example Inc.
LDAP_ORGANISATION={{ ldap_organisation }}
# Ldap domain. Defaults to example.org
LDAP_DOMAIN={{ ldap_domain }}
# Ldap base DN. If empty automatically set from LDAP_DOMAIN value. Defaults to (empty)
LDAP_BASE_DN={{ ldap_base_dn }}
# Ldap Admin password. Defaults to admin
LDAP_ADMIN_PASSWORD={{ ldap_admin_password }}
# Ldap Config password. Defaults to config
LDAP_CONFIG_PASSWORD={{ ldap_config_password }}
# Add a read only user. Defaults to false
LDAP_READONLY_USER={{ ldap_readonly_user }}
# Read only user username. Defaults to readonly
LDAP_READONLY_USER_USERNAME={{ ldap_readonly_user_username }}
# Read only user password. Defaults to readonly
LDAP_READONLY_USER_PASSWORD={{ ldap_readonly_user_password }}

### Backend ###
# Ldap backend. Defaults to hdb (In comming versions v1.2.x default will be mdb)
LDAP_BACKEND={{ ldap_backend }}

### TLS options ###
# Add openldap TLS capabilities. Can't be removed once set to true. Defaults to true.
LDAP_TLS={{ ldap_tls }}
# Ldap ssl certificate filename. Defaults to ldap.crt
LDAP_TLS_CRT_FILENAME={{ ldap_tls_crt_filename }}
# Ldap ssl certificate private key filename. Defaults to ldap.key
LDAP_TLS_KEY_FILENAME={{ ldap_tls_key_filename }}
# Ldap ssl CA certificate filename. Defaults to ca.crt
LDAP_TLS_CA_CRT_FILENAME={{ ldap_tls_ca_crt_filename }}
# Enforce TLS but except ldapi connections. Can't be disabled once set to true. Defaults to false.
LDAP_TLS_ENFORCE={{ ldap_tls_enforce }}
# TLS verify client. Defaults to demand
LDAP_TLS_VERIFY_CLIENT={{ ldap_tls_verify_client }}

### Replication ###
# Add openldap replication capabilities. Defaults to false
LDAP_REPLICATION={{ ldap_replication }}
# list of replication hosts, must contain the current container hostname set by --hostname on docker run command. Defaults to :
LDAP_REPLICATION_HOSTS=#PYTHON2BASH:{{ ldap_replication_hosts }}
#LDAP_REPLICATION_CONFIG_SYNCPROV={{ ldap_replication_config_syncprov }}
#LDAP_REPLICATION_DB_SYNCPROV={{ ldap_replication_db_syncprov }}

### Others ###
# Do not change the ldap config. Defaults to false
KEEP_EXISTING_CONFIG={{ ldap_keep_existing_config }}
# delete config folder after setup. Defaults to true
LDAP_REMOVE_CONFIG_AFTER_SETUP={{ ldap_remove_config_after_setup }}
