*filter
:INPUT {{ iptables_input_policy }} [0:0]
:FORWARD {{ iptables_forward_policy }} [0:0]
:OUTPUT {{ iptables_output_policy }} [0:0]
{% for chain in iptables_other_chains %}
:{{ chain }} - [0:0]
{% endfor %}
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i lo -j ACCEPT
{% for rule in iptables_input_rules %}
{% if rule.type == "empty" %}
-A INPUT -j {{ rule.target }}
{% elif rule.type == "protocol" %}
-A INPUT -p {{ rule.proto }} -m {{ rule.proto }}{% if rule.iface is defined %} -i {{ rule.iface }}{% endif %} --dport {{ rule.port }} -j {{ rule.target }}
{% elif rule.type == "ip" %}
-A INPUT -s {{ rule.ip }} -j {{ rule.target }}
{% endif %}
{% endfor %}
{% for rule in iptables_output_rules %}
{% endfor %}
{% for rule in iptables_forward_rules %}
{% endfor %}
-A INPUT -j REJECT --reject-with icmp-host-prohibited
COMMIT
*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
{% for rule in iptables_snat_rules %}
-A POSTROUTING -s {{ rule.source }} ! -d {{ rule.source }} -j SNAT --to-source {{ rule.to_source }}
{% endfor %}
COMMIT
